:root{
    --primary: #FDC23E;
    --secondary: #C4DAE3;
    --light: #F7FBFF;
    --dark: #13212A;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--dark);
}

body{
    background-color: var(--light);
}